
<app-menu></app-menu>


<div class="pcoded-main-container">
  <div class="pcoded-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-header">
          <div class="page-block">
              <div class="row ">
                <button class="btn btn-primary" (click)="retour()">Retour</button>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="card-body">
            <div class="row my-2 d-flex justify-content-center">
              <strong>Commandes</strong>
            </div>


            <div class="container mt-5 mb-3">
              <div class="row">
                  <div class="col-md-4">
                      <div class="card p-3 mb-2">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                  <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                                  <div class="ms-2 c-details">
                                      <h6 class="mb-0">Nombre de livraison effectuée</h6>
                                  </div>
                              </div>
                          </div>
                          <div class="mt-5">
                              <h3 class="heading">4</h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card p-3 mb-2">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                  <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                                  <div class="ms-2 c-details">
                                      <h6 class="mb-0">Date de derniere livraison</h6>
                                  </div>
                              </div>
                          </div>
                          <div class="mt-5">
                              <h3 class="heading">18/08/2022</h3>

                          </div>
                      </div>
                  </div>

              </div>
          </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <button type="button" style="background-color: black;" class="btn  w-100 align-items-stretch d-flex">

                        <div class="text text-right" style="color: white;">
                            <span>Faire decoller le drone</span>
                        </div>
                    </button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="button" style="background-color: black;" class="btn  w-100 align-items-stretch d-flex">

                        <div class="text text-right" style="color: white;">
                            <span>Faire atterir le drone</span>
                        </div>
                    </button>
                </div>

                <div class="col-md-4 mb-3">
                  <button type="button" style="background-color: black;" class="btn  w-100 align-items-stretch d-flex">

                      <div class="text text-right" style="color: white;">
                          <span>Relacher le colis</span>
                      </div>
                  </button>
              </div>


            </div>

          <div class="row my-2">

              <div class="col-md-4"></div>
          </div>

      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->

      <div class="card">
        <div class="row">
            <div class="col-md-6">
                <div class=" my-4">
                    <div class=" ">
                        <iframe  height="480" width="700" id="video" frameborder="0"></iframe>
                    </div>
                </div>

                <!-- JOYSTICK -->
                <div class=" my-4">
                    <div class=""  style=" margin-top: 100px;"></div>
                        <div class="" style="">
                            <div id="joystick"></div>
                        </div>
                    </div>
                </div>

            </div>


        </div>


          <!-- VIDEO -->

          </div>
      </div>
  </div>

</div>




